{% extends "template.html"%}
{% block conteudo%}

<header>
    <h1>To Do List</h1>
    <nav class="menu-bar">
      <a href="{{ url_for('tarefas', nickname=usuario.nickname) }}">Voltar</a>
    </nav>
</header>
<main>
  <form class="editar-tarefa" action="{{ url_for('atualizar_tarefa') }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ id }}">
    {{ form.csrf_token() }}
    <h1>Editando tarefa</h1>
    <div class="form-group">
      {{ form.titulo.label(class="form-label") }}
      {{ form.titulo(class="form-control", placeholder="Digite um titulo") }}
    </div>
    <div class="form-group">
      {{ form.tarefa.label(class="form-label") }}
      {{ form.tarefa(class="form-control-tarefa", placeholder="Descreva a tarefa. Máximo 3000 carácteres", rows="5", cols="40") }}
    </div>
    <div class="form-group">
      {{ form.importante.label(class="form-label") }}
      {{ form.importante(class="radio") }}
    </div>
    <div class="form-group">
      {{ form.prazo.label(class="form-label") }}
      {{ form.prazo(class="prazo") }}
    </div>
    <div class="form-buttons">
      {{ form.salvar(class="btn-login-criar") }}
    </div>
  </form>
</main>

{% endblock %}